body {
    background: black;
    font-family: trebuchet ms;
    color: white;
    margin: 0px;
}
header{
     width: 100%;
	 height: 100px;
	 background: #333;
     text-align: center;
}
a {
	text-decoration: none;
	color: white;
}
img.bord{
    border: 3px solid #8f4d01;
	border-radius: 10px 15% 15% 10px;
}
h1{
	font-family: trebuchet ms;
    color: #c46900;
	font-size: 36px;
    text-align: center;
}
p{
	font-family: trebuchet ms;
    color: white;
	font-size: 20px;
    text-align: center;
}
.foot{
	font-family: trebuchet ms;
    color: white;
	font-size: 16px;
    text-align: center;
}
.bullet{
     width: 35%;
	 height: 100px;
	 background:#c46900;
     border-radius: 0% 30% 30% 0%;
}
.name{
     width: 100%;
	 height: 100px;
	 background:#c;
     
}
a:hover {
    color: black; 
}
section{
    background-color: black;
    text-align:center; 
} 
button{ 
    padding: 15px 25px;
    background: #c46900;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 10px 30% 30% 10px;
	margin: 0 auto;
}
button.reverse{
	padding: 15px 25px;
    background: #c46900;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 30% 10px 10px 30%;
	margin: 0 auto;
}
button:hover{
    color: black; 
}	
	
footer {
    text-align: center;
    background-color: #1a1818;
    color: #fff;
    padding: 10px 0;
	margin-top: 25px;
	text-align: left;
}
/* стили таблиц */
.table-bordered{
	margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
	margin-top: 10px;
	border: 1px solid #c46900;
	border-radius: 10px 30% 30% 10px;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #2b2b2b;
    padding: 10px;
    text-align: center;
}
th.meanwhile{
	background: #c46900;
	border-radius: 10px 0px 0px 0px;
}
th.meantwo{
	background: #333;

	border: none;
}
th.deluxe{
	font-family: trebuchet ms;
    color: #a30808;
	border: none;
	background: #2b001f;
}
td.deluxe{
	background: #210610;
}
th.gold{
	font-family: trebuchet ms;
    color: #ffe603;
	border: none;
	background: #2b1d00;	
	
}
td.gold{
	background: #2b2400;
}	
